/****************************  GENERELT ****************************/

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    background-color: #FAF7F7;
}

img {
    width: 100%;
}

.sectionwrapper {
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

/*************Forside CSS************/

#forside .box {}

#materialer {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/materialer.svg);
}

#skema {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/skema.svg);
}

#notifikationer {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/notifikationer.svg);

}

#techlounge {
    width: 223.84px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/techlounge.svg);
}

#mail {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/mail.svg);
}

#aktuelt {
    width: 223.84px;
    height: 223.84px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/aktuelt.svg);
}

#afleveringer {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 4px 2px 2px 2px;
    background-image: url(assets/afleveringer.svg);
}

#soeg {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 4px 2px;
    background-image: url(assets/soeg.svg);
}

#random1 {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/random.svg);
}

#random2 {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/random.svg);
}

#random3 {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/random.svg);
}

/************log-in page CSS************/

#loginpage .top {
    width: 375px;
    height: 226.46px;
    background-image: url(assets/kea%20logo.svg);

}

#loginpage .bund {
    width: 375px;
    height: 587px;
    background-color: #FAF7F7;

}

.form-container {
    width: 375px;
    height: 587px;
    padding: 20px 30px;
    background-color: #FAF7F7;
    border-radius: 10px;
}

ul.list {
    list-style-type: none;
    text-align: center;
}

ul.list li {
    width: 250px;
    margin-bottom: 10px;
}

ul.list li input {
    width: 250px;
    padding: 8px 0px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

ul.list li input[type="button"] {
    background-color: #EA5045;
    color: #fff;
}
