/****************************  GENERELT ****************************/

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    background-color: #FAF7F7;
}

img {
    width: 100%;
}

h2,
h3,
p {
    margin: 0;
}

.sectionwrapper {
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

/*************Forside CSS************/

#forside .box {}

#materialer {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/materialer.svg);
}

#skema {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/skema.svg);
}

#notifikationer {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/notifikationer.svg);

}

#techlounge {
    width: 223.84px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/techlounge.svg);
}

#mail {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/mail.svg);
}

#aktuelt {
    width: 223.84px;
    height: 223.84px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/aktuelt.svg);
}

#afleveringer {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 4px 2px 2px 2px;
    background-image: url(assets/afleveringer.svg);
}

#soeg {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 4px 2px;
    background-image: url(assets/soeg.svg);
}

#random1 {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/random.svg);
}

#random2 {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/random.svg);
}

#random3 {
    width: 109.92px;
    height: 109.92px;
    background-color: red;
    margin: 2px 2px 2px 2px;
    background-image: url(assets/random.svg);
}

/************log-in page CSS************/

#loginpage .top {
    width: 375px;
    height: 226.46px;
    background-image: url(assets/kea%20logo.svg);

}

#loginpage .bund {
    width: 375px;
    height: 587px;
    background-color: #FAF7F7;

}

.form-container {
    width: 375px;
    height: 587px;
    padding: 20px 30px;
    background-color: #FAF7F7;
    border-radius: 10px;
}

ul.list {
    list-style-type: none;
    text-align: center;
}

ul.list li {
    width: 250px;
    margin-bottom: 10px;

}

ul.list li input {
    width: 250px;
    padding: 8px 0px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    color: #EA5045;
}

ul.list li input[name="Submit"] {
    background-color: #EA5045;
    color: #fff;
}


ul.list li input[name="Facebook"] {
    background-color: #fff;
    color: #EA5045;
    border: 2px solid #EA5045;
}

/********Skema CSS**********/

#skema-info {
    width: 375px;
    height: 77px;
    background-color: #DEDCDB;
    display: flex;
    flex-wrap: wrap;
}

#skema-top {
    width: 375px;
    height: 66.22px;
    background-color: #3F3140;
}

#skema-midt {
    width: 375px;
    height: 526px;
    background-color: #fff;
}

#skema-info .col-left {
    width: 50vw;
    margin-top: 2vw;

}

#skema-info .col-right {
    width: 50vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#skema-info h2 {
    margin-bottom: 5px;
}

#skema-info h3 {
    margin-bottom: 9px;
}

#skema-top {
    display: flex;
    flex-wrap: wrap;
}

#skema-top .col-left {
    width: 40vw;
    height: 66.22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#skema-top .col-midt {
    width: 20vw;
    height: 66.22px;
    color: white;
    text-align: center;
}

#skema-top .col-right {
    width: 40vw;
    height: 66.22px;
}

#skema-top .col-left-sprite {
    width: 8vw;
    height: 8vw;
    background-image: url(assets/left-arrow.svg);
    background-size: contain;
    margin-top: 4vw;
}

#skema-top .col-right-sprite {
    width: 8vw;
    height: 8vw;
    background-image: url(assets/right-arrow.svg);
    background-size: contain;
    margin-top: 4vw;
}


.skema-table {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
}

.tabel-left {
    width: 20vw;
    height: 15vw;
    background-color: white;
    border-bottom: 1px solid #E2E8ED;
    border-right: 1px solid #E2E8ED;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.table-left p {
    margin: 0;
}

.tabel-right {
    width: 80vw;
    background-color: white;
    border-bottom: 1px solid #E2E8ED;
}

.modul {
    width: 50vw;
    height: 30vw;
    background-color: lightgoldenrodyellow;
}

#skema-bund {
    width: 375px;
    height: 66.22px;
    background-color: #3F3140;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skema-bund .skema-bund-right {
    width: 8vw;
    height: 8vw;
    margin-top: 4vw;
    color: white;
}

/******Table i Skema*********/

table,
th,
td {
    border: 1px solid #E2E8ED;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
}

table#t01 {
    width: 100%;

}

table#t01 tr:nth-child(even) {
    background-color: #fff;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

td.break {
    padding: 10px;
    background-color: #FAF7F7;
    border: 1px solid #E2E8ED;
}

td.left {
    width: 20vw;
}

td.right {
    width: 80vw;
}

/*****Moduler********/

#modul1 {
    top: 38vw;
    left: 21vw;
    position: absolute;
    background-color: #F2F1F0;
    width: 72vw;
    height: 42vw;

}

#modul2 {
    top: 85vw;
    left: 21vw;
    position: absolute;
    background-color: #F2F1F0;
    width: 72vw;
    height: 42vw;

}

#modul3 {
    top: 131vw;
    left: 21vw;
    position: absolute;
    background-color: #F2F1F0;
    width: 72vw;
    height: 21vw;
}

#modul1-knap1 {
    position: relative;
    left: 62vw;
    top: -10vw;
}

#modul1-knap2 {
    position: relative;
    left: 62vw;
    top: -5vw;
}

#modul2-knap1 {
    position: relative;
    left: 62vw;
    top: -10vw;
}

#modul3-knap1 {
    position: relative;
    left: 62vw;
    top: -10vw;
}

/*****Icons*******/

.folder-icon {
    width: 5vw;
    height: 4vw;
    background-image: url(assets/Folder.svg);
}

.link-icon {
    width: 5vw;
    height: 5.2vw;
    background-image: url(assets/link.svg);
}

.download-icon {
    width: 6.2vw;
    height: 6.2vw;
    background-image: url(assets/download.svg);
}

.skema-icon {
    width: 5vw;
    height: 5vw;
    background-image: url(assets/skema-icon.svg);
}

/*Materialer*/
#skema-materialer {
    width: 375px;
    height: 526px;
    background-color: #fff;
}

#materialer1 {
    top: 45vw;
    left: 8vw;
    position: absolute;
    background-color: #F2F1F0;
    width: 85vw;
    height: 21vw;

}

#materialer2 {
    top: 75vw;
    left: 8vw;
    position: absolute;
    background-color: #F2F1F0;
    width: 85vw;
    height: 21vw;

}

#materialer3 {
    top: 105vw;
    left: 8vw;
    position: absolute;
    background-color: #F2F1F0;
    width: 85vw;
    height: 21vw;
}

#materialer1-knap1 {
    position: relative;
    left: 75vw;
    top: 3vw;
}

#materialer2-knap1 {
    position: relative;
    left: 75vw;
    top: -3vw;
}

#materialer3-knap1 {
    position: relative;
    left: 75vw;
    top: 3vw;
}
